body
  head
    title Detz
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

template(name='wrapper')
  .container-fluid
    +flashMessages

    ul.nav.nav-pills
      li
        a(href='/') Debts
      li
        a(href='/people') People

    .spacer
        
    +yield

template(name='person_list')
  .row
    a.btn.btn-primary.new-person New Person

  .spacer

  .row.hidden-xs.text-center
    .col-md-2
      strong Last Name
    .col-md-2
      strong First Name
    .col-md-2
      strong Total

  .spacer

  #people
    +each people
      +person_row

template(name='debt_list')
  .row
    .col-md-2
      h3 Balance:
    .col-md-2
      h4 {{ balance }}

  .row
    .col-md-3
      .btn-group
        button.new-debt.btn.btn-primary New Debt
        
        +if show_paid
          a(href='/').show-paid.btn.btn-default Show All
        +else
          a(href='/?paid').show-paid.btn.btn-default Show Paid

  .spacer

  .row.hidden-xs.text-center
    .col-md-2
      strong Description
    .col-md-2
      strong Person
    .col-md-2
      strong Amount
    .col-md-2
      strong Date
    .col-md-1
      strong Payment
    .col-md-1
      strong Paid

  .spacer

  #debts
    +each debts
      +debt_row

template(name='person_select')
  select.person-id.form-control.input-sm
    option(value='') -- Select --

    +each people
      option(value='{{ _id }}') {{ last_name }}, {{ first_name }}

template(name='debt_row')
  .row
    input.debt-id(type='hidden' value='{{ _id }}')

    .col-md-2.col-xs-6
      input.description.form-control.input-sm(value='{{ description }}')
    .col-md-2.col-xs-6
      +person_select(people=people_helper selected='{{ person_id }}')
    .col-md-2.col-xs-6
      input.amount.form-control.input-sm(value='{{ money amount }}')
    .col-md-2.col-xs-6
      input.date.datepicker.form-control.input-sm(value='{{ pretty_date date }}')
    .col-md-1.col-xs-6
      .checkbox
        label
          input.payment(type='checkbox')
          span.visible-xs Payment
    .col-md-1.col-xs-6
      .checkbox
        label
          input.paid(type='checkbox')
          span.visible-xs Paid
    .col-md-2.hidden-xs
      .btn-group
        button.copy.btn.btn-default(title='Copy')
          span.glyphicon.glyphicon-copy
        button.delete.btn.btn-danger(title='Delete')
          span.glyphicon.glyphicon-trash

    .col-xs-6.visible-xs
      button.copy.btn.btn-default(title='Copy')
          span.glyphicon.glyphicon-copy
          span Copy

    .col-xs-6.visible-xs
      button.delete.btn.btn-danger(title='Delete')
        span.glyphicon.glyphicon-trash
        span Delete

  hr.visible-xs

template(name='person_row')
  .row
    input.person-id(type='hidden' value='{{ _id }}')

    .col-md-2.col-xs-6
      input.last-name.form-control.input-sm(value='{{ last_name }}')
    .col-md-2.col-xs-6
      input.first-name.form-control.input-sm(value='{{ first_name }}')
    .col-md-2.col-xs-6
      pre {{ money total }}
    .col-md-2.col-xs-6
      button.delete.btn.btn-danger Delete
