template(name='wrapper')
  .container-fluid
    +flashMessages

    ul.nav.nav-pills
      li
        a(href='/') Debts
      li
        a(href='/people') People
  
    +yield

template(name='person_list')
  .row
    a.btn.btn-primary.new-person New Person

  .row
    .col-md-2 Last Name
    .col-md-2 First Name
    .col-md-2 Total      

  #people
    +each people
      +person_row

template(name='debt_list')
  .row
    .col-md-2
      h3 Balance:
    .col-md-2
      h4 {{ balance }}

  .row
    .col-md-3
      .btn-group
        button.new-debt.btn.btn-primary New Debt
        
        +if show_paid
          a(href='/').show-paid.btn.btn-default Show All
        +else
          a(href='/?paid').show-paid.btn.btn-default Show Paid

  .row
    .col-md-2 Description
    .col-md-2 Person
    .col-md-2 Amount
    .col-md-2 Date
    .col-md-1 Payment
    .col-md-1 Paid

  #debts
    +each debts
      +debt_row

template(name='person_select')
  select.person-id.form-control.input-sm
    option(value='') -- Select --

    +each people
      option(value='{{ _id }}') {{ last_name }}, {{ first_name }}

template(name='debt_row')
  .row
    form
      input.debt-id(type='hidden' value='{{ _id }}' name='id')
  
      .col-md-2
        input.description.form-control.input-sm(value='{{ description }}' name='description')
      .col-md-2
        +person_select(people=people_helper selected='{{ person_id }}' name='person_id')
      .col-md-2
        input.amount.form-control.input-sm(value='{{ money amount }}' name='amount')
      .col-md-2
        input.date.datepicker.form-control.input-sm(value='{{ pretty_date date }}' name='date')
       .col-md-1
        .checkbox
          label
            input.payment(type='checkbox' name='payment')
       .col-md-1
        .checkbox
          label
            input.paid(type='checkbox' name='paid')
      .col-md-2
        .btn-group
          button.copy.btn.btn-default(title='Copy')
            span.glyphicon.glyphicon-copy
          button.delete.btn.btn-danger(title='Delete')
            span.glyphicon.glyphicon-trash

template(name='person_row')
  .row
    input.person-id(type='hidden' value='{{ _id }}')

    .col-md-2
      input.last-name.form-control.input-sm(value='{{ last_name }}')
    .col-md-2
      input.first-name.form-control.input-sm(value='{{ first_name }}')
    .col-md-2
      pre {{ money total }}
    .col-md-2
      button.delete.btn.btn-danger Delete
